HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/mvnw.cmd
/mvnw
/.mvn/

/src/main/resources/sql/quality_categories.sql
/src/main/resources/sql/quality_commodities.sql
/src/main/resources/sql/quality_customers.sql
/src/main/resources/sql/quality_defects.sql
/src/main/resources/sql/quality_departments.sql
/src/main/resources/sql/quality_responsibles.sql
/src/main/resources/sql/quality_statuses.sql
